$light-blue: #BDD0FB;
$main-blue: #4E52FF;
$dark-blue: #0B0263;
$main-orange: #FE6F61;
$light-orange: #FF8881;
$light-gray: #666666;

@media (max-width: 575.98px) {
    .header {
        .nav {
            padding: 10px;

            .nav_right {
                align-items: center !important;
                justify-content: center !important;
            }
        }
    }
}

@media (max-width: 812px) {
    .nav-link {
        font-sizE: 0.9rem;
    }

    .nav {
        justify-content: center !important;
    }
}

@media (max-width: 992px) {
    .hig_bid_box .highest_bidder {
        line-height: 20px;
    }
}

// LAYOUTS

.header .logo {
    position: absolute;
    left: 0;
    top: 2px;
    float: left;
    width: 100px;
    z-index: 5;
}

.nav {
    font-size: 1rem;
    color: $light-blue;
    background-color: $main-blue;
    padding: 20px 15px;
    width: 100%;

    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }

    a,
    li {
        display: inline;
        color: #fff;
    }

    a:hover {
        text-decoration: none;
        color: $dark-blue;
        font-weight: 600;
    }

}


.nav_left {
    margin-left: 100px !important;
}

.nav_right {
    text-align: right;
    align-items: right;
    justify-content: right;
}


// ALL PAGES

h2,
h3 {
    color: $dark-blue;
}



p {
    color: $dark-blue
}

a:hover {
    color: $main-orange;
    font-weight: 600;
    ;
}

a {
    color: $main-blue;
}

.main-content {
    margin-top: 35px;
}

.btn-primary {
    background-color: $dark-blue;
    color: #fff;
    border-color: $dark-blue;
}

.btn-primary:hover {
    background-color: $main-blue;
    border-color: $main-blue;
    font-weight: 400;
}



// INDEX
.home_listing {
    height: 200px;
}

.home_listing_img {
    max-height: 200px;
    max-width: 100%;

}

.home-img-div {
    align-content: center;
    text-align: center;
}


.home_listing p,
.listing_info p {
    margin-bottom: 3px;
}

.p_small {
    font-size: 0.8em;
    float: left;
    color: $light-gray;
}

.home_listing_about {
    margin-top: 20px;
}

// LISTING

.listing_is_by_user {
    background-color: $light-blue;
    padding: 10px !important;
    border-radius: 5px;
    height: 65px;
    margin-bottom: 15px;
}

.listing_is_by_user div {
    align-items: center;
    justify-content: center;
    height: 45px;
}

.listing_status {
    margin: 0 !important;
    color: $dark-blue;
    padding-right: 10px;
}

.btn-active {
    background-color: $main-blue;
    border-color: $main-blue;
}

.btn-active:hover {
    background-color: $main-orange;
    border-color: $main-orange;
}


.hig_bid_box {
    background-color: #F9B9B9;
    padding: 10px !important;
    border-radius: 5px;
    height: 65px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}


.highest_bidder {
    color: $main-orange;
    font-weight: 800;
    line-height: 45px;
    margin: 0 !important;
    text-align: center;
}

.listing_img img {
    max-width: 100%;
    height: auto;
    align-content: center;
    text-align: center;
}


.max_bid {
    font-weight: 800;
    color: $main-orange;
}

.bid_form {
    margin: 0;
}

.bid_input {
    margin-right: 15px;
}

.listing_info p {
    margin: 15px 0;
}

// COMMENT SECTION

.comment_section {
    border: 1px solid;
    border-color: $light-blue;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.comment_section .comment_by {
    font-weight: 600;
    color: $main-blue;
    margin-bottom: 0px;
    font-size: 12px;
}

.comment_section>p {
    margin: 0 !important;
}


.comment_form {
    padding: 0;

    .btn {
        margin-top: 10px;
    }
}

// ADD LISTING

.add_new_listing label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.add_new_listing .btn {
    margin-bottom: 30px;
    margin-top: 15px;
}