{% extends "auctions/layout.html" %}

{% block body %}
<div class="main-content container">
    <h2>Active Listings</h2>
    <hr>
    {% for listing in listings %}
    {% if listing.active == True %}
    <div class="home_listing row d-flex">
        <div class="col-3 align-middle home-img-div"><a href="{{listing.id}}"><img src="{{listing.image.url}}"
                    alt="{{listing.title}} image" class="rounded home_listing_img "></a></div>
        <div class="col-9">
            <h3><a href="{{listing.id}}">{{listing.title}}</a></h3>
            <p><strong>Starting Bid
                    U${{listing.starting_bid}}</strong>
            </p>
            <p>{{listing.description|slice:":250"}}...</p>
            <div class="home_listing_about">
                <p class="p_small">Created on: {{listing.created_at}}</p>
                <p class="p_small"> • Posted by: {{listing.listed_by.username}}</p>

            </div>
        </div>
    </div>
    <hr>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}