{% extends "auctions/layout.html" %}

{% block body %}
<h2>Bid on {{listing.title}}</h2>
<p>Starting Bid = U${{listing.starting_bid}}</p>


{% if user.is_authenticated %}
{% if watchlist == True %}
<form action="{% url 'watchlist' %}" method="post">
    {% csrf_token %}
    <input class="btn btn-outline-primary watchlist" type="submit" value="Already in your Watchlist">
    <input type="hidden" name="listing_id" value="{{listing.id}}" />
</form>
{%else%}
<form action="{% url 'watchlist' %}" method="post">
    {% csrf_token %}
    <input class="btn btn-primary watchlist" type="submit" value="watchlist">
    <input type="hidden" name="listing_id" value="{{listing.id}}" />
</form>
{% endif %}
{% endif %}

<div class="listing_img"><img src="../media/{{listing.image}}" alt="{{listing.title}} image"></div>
<p>{{listing.description}}</p>
<p>{{listing.created_at}}</p>

{% endblock %}